version: v{build}
os: Visual Studio 2015
assembly_info:
  patch: false
install:
  - set PATH=C:\Program Files (x86)\MSBuild\14.0\Bin;%PATH%
deploy_script:
  - cmd: >-
      nuget help
      
      nuget pack temp2/temp2.csproj
      
      nuget push help
      
      nuget push temp2.1.0.0.nupkg -Source https://ci.appveyor.com/nuget/dotnet-nuget-gu10fsb5ljbi -ApiKey q9ci3lcifxswl525gguglq6y
before_build:
  - cmd: nuget restore
build:
  verbosity: minimal
notifications:
  - provider: Email
    to:
      - bilal.m.fazlani@gmail.com
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: false